<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvK2HOS6qddWjCyJhdXJEpvv_l0ns822c</string>
	<key>GCM_SENDER_ID</key>
	<string>409147253126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skopjeapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>skopjeapp-56f6c</string>
	<key>STORAGE_BUCKET</key>
	<string>skopjeapp-56f6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409147253126:ios:23df3d184ef3d6b93bcc07</string>
</dict>
</plist>